@import 'tailwind-preset-mantine';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rt-header .bn-formatting-toolbar {
    margin-inline: auto;
    box-shadow: none;
    border: none;
}

a {
  color: #8000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}